{% extends "tasks/pages/template.html" %}
{% block content %}

<div class="card card-plain mb-4">
  <div class="card-body p-3">
    <div class="row">
      <div class="col-lg-6">
        <div class="d-flex flex-column h-100">
          <h2 class="font-weight-bolder mb-0">{{ project.title }}</h2>
        </div>

        {% if user == project.author %}
        {% include 'tasks/pages/partials/project_status_select.html' %}
        {% endif %}

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 p-3 p-0">
          <div class='row'>
            <div class="col-6 d-flex align-items-center">
              <h6 class="text-white text-capitalize ps-3">Projects tasks</h6>
            </div>
            <div class="col-6 text-end">
              <a class="btn bg-gradient-dark" href="javascript:;">
                <i class="material-icons text-sm">add</i>&nbsp;&nbsp;Add New task</a>
            </div>

          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center justify-content-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Started</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Priority</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Deadline</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Assignment</th>
              </tr>
            </thead>
            <tbody>
              {% for task in project.project_tasks.all %}
              <tr>
                <td>
                  <div class="d-flex px-2">
                    <div class="my-auto">
                      <h6 class="mb-0 text-sm">{{ task.title }}</h6>
                    </div>
                  </div>
                </td>
                <td>
                  <p class="text-sm font-weight-bold mb-0">{{ task.timestamp.date }}</p>
                </td>
                <td>
                  <p class="text-sm font-weight-bold mb-0">{{ task.get_priority_display }}</p>
                </td>
                <td>
                  <span class="text-sm font-weight-bold mb-0">
                    {% if user == task.assignment %}
                    {% include 'tasks/pages/partials/task_status_select.html' %}
                    {% else %}
                    {{ task.get_status_display }}
                    {% endif %}
                  </span>
                </td>
                <td>
                  <span class="text-sm font-weight-bold">{{ task.deadline }}</span>
                </td>
                <td>
                  {% if project.author == user %}
                  <select onchange='task_put_status({{ task.id }}, this.value)'>
                    {% if not task.assignment %}
                    <option value="None" selected>None</option>
                    {% else %}
                    <option value="None">None</option>
                    {% endif %}
                    {% for member in project.members.all %}
                    {% if task.assignment == member %}
                    <option value="{{ member }}" selected>{{ member }}</option>
                    {% else %}
                    <option value="{{ member }}">{{ member }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  {% else %}
                  <p class="text-sm font-weight-bold mb-0">{{ task.assignment }}</p>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <div class="card my-4">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
          <h6 class="text-white text-capitalize ps-3">Members</h6>
        </div>
      </div>
      <ul class="card-body p-3">
        <ul class="list-group">
          {% if user == project.author %}
              {% for organization_member in project.organization.users.all %}
              <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                <div class="avatar me-3">
                  <img src="../assets/img/kal-visuals-square.jpg" alt="kal" class="border-radius-lg shadow">
                </div>
                <div class="d-flex align-items-start flex-column justify-content-center">
                  <h6 class="mb-0 text-sm">{{ organization_member }}</h6>
                  <p class="mb-0 text-xs">Hi! I need more information..</p>
                </div>

                  <div class='form-check form-switch ps-0'>
                  {% if organization_member in project.members.all  %}
                  <input class="form-check-input ms-auto" type="checkbox" onchange="handleChange({{ project.id }}, this.value )" value="{{ organization_member }}" name="{{ organization_member }}" checked>
                  {% else %}
                  <input class="form-check-input ms-auto" type="checkbox" onchange="handleChange({{ project.id }}, this.value )" value="{{ organization_member }}" name="{{ organization_member }}">
                  {% endif %}
                  </div>
              </li>
              {% endfor %}
          {% else %}
          {% for project_member in project.members.all %}
              <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2 pt-0">
                <div class="avatar me-3">
                  <img src="../assets/img/kal-visuals-square.jpg" alt="kal" class="border-radius-lg shadow">
                </div>
                <div class="d-flex align-items-start flex-column justify-content-center">
                  <h6 class="mb-0 text-sm">{{ project_member }}</h6>
                  <p class="mb-0 text-xs">Hi! I need more information..</p>
                </div>
              </li>
          {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}