{% extends "tasks/pages/template.html" %}
{% block content %}
    <script type="text/javascript">
   document.addEventListener("DOMContentLoaded", function() {
  navItemActive('projects');
  });
    </script>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Projects table</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Project</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Priority</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Status</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Completion</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Deadline</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Members</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for project in projects %}
                                        <tr>
                                            <td>
                                                <div class="d-flex px-2">
                                                    <div class="my-auto">
                                                        <a href="{% url 'project' project.id %}">
                                                            <h6 class="mb-0 text-sm">{{ project.title }}</h6>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="text-sm font-weight-bold mb-0">
                                                    {% if project.author == user %}
                                                        {% include 'tasks/pages/partials/project_priority_select.html' %}
                                                    {% else %}
                                                        <span class="text-sm font-weight-bold mb-0">{{ project.get_priority_display }}</span>
                                                    {% endif %}
                                                </span>
                                            </td>
                                            <td>
                                                {% if project.author == user.member %}
                                                    {% include 'tasks/pages/partials/project_status_select.html' %}
                                                {% else %}
                                                    <span class="text-sm font-weight-bold mb-0">{{ project.get_status_display }}</span>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <span class="me-2 text-xs font-weight-bold">{{ project.completion }}%</span>
                                                    <div>
                                                        <div class="progress">
                                                            <div class="progress-bar bg-gradient-info"
                                                                 role="progressbar"
                                                                 aria-valuenow="{{ project.completion }}"
                                                                 aria-valuemin="0"
                                                                 aria-valuemax="100"
                                                                 style="width: {{ project.completion }}%">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span class="text-sm font-weight-bold">{{ project.deadline }}</span>
                                            </td>
                                            <td>
                                                <div class="avatar-group mt-2">
                                                    {% for member in project.members.all %}
                                                        <a href="{% url  'profile' member.user.username %}"
                                                           class="avatar avatar-xs rounded-circle"
                                                           data-bs-toggle="tooltip"
                                                           data-bs-placement="bottom"
                                                           title="{{ member.user.username }}">
                                                            <img src="../assets/img/team-1.jpg" alt="team1">
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            </td>
                                            {% if project.author == user.member %}
                                                <td class="align-middle">
                                                    <button class="btn btn-link text-secondary mb-0">
                                                        <i class="fa fa-ellipsis-v text-xs"></i>
                                                    </button>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
