<div class="input-group input-group-outline my-3">
    <select class="form-control select"
            onchange='milestone_put_status({{ milestone.id }}, this.value)'>
        {% for key, status in status_choices %}
            {% if milestone.status == key %}
                <option value="{{ key }}" selected>
                    {{ status }}
                </option>
            {% else %}
                <option value="{{ key }}">
                    {{ status }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
</div>
