<div class="input-group input-group-outline my-3">
    <select class="form-control select"
            onchange='project_put_priority({{ project.id }}, this.value)'>
        {% for key, priority in priority_choices %}
            {% if project.priority == key %}
                <option value="{{ key }}" selected>
                    {{ priority }}
                </option>
            {% else %}
                <option value="{{ key }}">
                    {{ priority }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
</div>
