<div class="input-group input-group-outline my-3">
    <select class="form-control select"
            onchange='milestone_put_priority({{ milestone.id }}, this.value)'>
        {% for value, priority in priority_choices %}
            {% if milestone.priority == value %}
                <option value="{{ value }}" selected>
                    {{ priority }}
                </option>
            {% else %}
                <option value="{{ value }}">
                    {{ priority }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
</div>
